@media only screen and (min-width: 961px) { 
.actividad {
  background-color: #373b3e24;
  border: 1px solid $color-principal-claro;
  border-radius: 5px;
  box-shadow: 0 2px 4px $shadow;
  margin: 1rem;
  padding: 1.5rem;
  width: 300px;
  text-align: center;
}
.actividades {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}
.actividad h2 {
  margin-top: 0;
  color: #333;
}

.actividad p {
  color: #666;
}
}

@media only screen and (max-width: 500px) {
main{ 
    margin-top: 30%;
}

/* ------ACTIVIDADES------ */
.actividades {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;
}

.actividad {
  background-color: #373b3e24;
  border: 1px solid $color-principal-claro;
  border-radius: 5px;
  box-shadow: 0 2px 4px $shadow;
  margin: 1rem;
  padding: 1.5rem;
  width: 300px;
  text-align: center;
}

.actividad h2 {
  margin-top: 0;
  color: #333;
}

.actividad p {
  color: #666;
}
/* ------FIN DE ACTIVIDADES------ */


}